#forum-container{
    margin:5px 15px;
}

.post{
    margin:5px 10px;
    min-width:400px;
    background-color:#efefef;
}

.user-info{
    margin:3px 5px;
}

.post-header{
    color:#bbb;
    padding-left:10px;
    font-style:italic;
}

.post-header > .username{
    color:#111;
}

.post-header > .username > a{
    color: #1F3D99;
    border-bottom:1px dotted #111;
}

.post-header > .username > a:hover {
    color: #0F1F4C;
    border-bottom:1px dotted #0F1F4C;
    text-decoration:none;
}

.post-content{
    margin:5px 3px;
    padding:1px 5px;
    text-align:left;
}

#forum-navbar{
    margin:3px 15px;
}

#forum-navbar-wrapper{
    min-height:50px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

#post-input-wrapper{
    margin:5px 1px;
}

#btn-login{
    margin:5px 0;
}

#discussions-grid a.post-link,
#forum-grid a.forum-link{
    font-size:16px;
}

.discussion-timestamp {
    color: #868686;
}

li#top-greeting{
    margin-top:15px;
    margin-right:10px;
}

.page-title{
    text-align: center;
}

/* User info page */

#user-info-list{
    list-style:none;
}

#user-info-holder h2{
    margin-left:38px;
}

.discussion-title{
    margin:5px 12px;
}