<div ng-hide="subforumCtrl.current">
    <h2>Not found</h2>
</div>

<div ng-show="subforumCtrl.current">

    <button class="btn btn-success" ng-show="$root.loggedInUser" ng-click="subforumCtrl.addDiscussion()"><i class="fa fa-plus"></i> Add topic</button>

    <table class="table" id="discussions-grid">
        <thead>
            <tr>
                <th>Discussions</th>
            </tr>
        </thead>

        <tbody ng-repeat="discussion in subforumCtrl.current.discussions">
            <tr>
                <td>
                    <a class="post-link" ng-href="/#/subforum/{{ subforumCtrl.current.title }}/discussion/{{ discussion.id }}">{{ discussion.title }}</a>
                    <br />
                    by <a href="/#/user/{{ discussion.createdByUsername }}">{{ discussion.createdByUsername }}</a> on <span class="discussion-timestamp">{{ discussion.createdOn | amDateFormat: "MMM Do YYYY, HH:mm:ss" }}</span>
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="pagination">
        <li ng-repeat="i in subforumCtrl.pagesArr track by $index"><a href="/#/{{subforumCtrl.getPageUrl($index)}}">{{$index+1}}</a></li>
    </ul>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Add topic</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                    <label class="control-label" for="topic-title">Title</label>
                    <input type="text" name="topic-title" class="form-control" ng-model="addDiscussionCtrl.title" />

                    <label class="control-label" for="topic-content">Content</label>
                    <textarea name="topic-content" class="form-control" ng-model="addDiscussionCtrl.content"></textarea>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="addDiscussionCtrl.cancel()">Cancel</button>
            <button class="btn btn-success" type="button" ng-click="addDiscussionCtrl.add()">OK</button>
        </div>
    </script>
</div>