<div id="user-info-holder">
    <!--<div ng-hide="userInfoCtrl.userInfo">
        <h2>User not found</h2>
    </div>-->

    <div ng-show="userInfoCtrl.errorText">
        <p>{{ userInfoCtrl.errorText }}</p>
    </div>

    <div ng-hide="userInfoCtrl.errorText">
        <h2>{{ userInfoCtrl.userInfo.username }}</h2>

        <ul id="user-info-list">
            <li>
                <label>Name:</label>
                <span>{{ userInfoCtrl.userInfo.name + ' ' +  userInfoCtrl.userInfo.surname }}</span>
            </li>
            <li>
                <label>Joined:</label>
                <span>{{ userInfoCtrl.userInfo.createdOn | amDateFormat: "DD.MM.YYYY" }}</span>
            </li>
        </ul>
    </div>
</div>